<!DOCTYPE html>
<html>
<!-- Default setting and link copy this for every html -->
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Find Community</h2>
			</div>
			<div class="col-md-4">
				<h4>Comapny, School, Group, Family</h4>
			</div>
			<div class="col-md-4">
				<a href="create_community"><button type="button" class="btn btn-default btn-md pull-right">Create Community</button></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				</br>
				<div class="panel panel-default">
						<div class="panel-heading c-list">
								<span class="title"><b>Community</b></span>
						</div>
						<div class="row">
								<div class="col-xs-12">
									<div class="input-group">
										<span class="input-group-btn">
												<button class="btn btn-default" type="button" disabled><span class="glyphicon glyphicon-search"></span></button>
										</span>
										<input type="text" class="form-control" id="community-list-search" placeholder="Search for...">
									</div>
								</div>
						</div>
						<ul class="list-group contact-list" id="community-list">
								<li class="list-group-item">
									<div class="media">
									  <div class="media-left">
									      <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTNkOGMyMWEyYSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1M2Q4YzIxYTJhIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=">
									  </div>
									  <div class="media-body">
									    <h4 class="media-heading">CS 465</h4>
											<span class="name">Created by UIUC</span><br>
											<span class="description">UIUC CS 465 - User Interface</span>
									  </div>
										<div class="media-right">
											<button class="btn btn-default glyphicon glyphicon-plus fa-2x" style="border:0px solid transparent;" type="button"></button>
										</div>

									</div>
									<div class="clearfix"></div>
								</li>
								<li class="list-group-item">
									<div class="media">
										<div class="media-left">
												<img class="media-object" height="64px" width="64px" src="https://scontent.ford1-1.fna.fbcdn.net/v/t1.0-9/11403414_823827771058333_9142859801719835183_n.png?oh=e43d79e0bc6bd9c9fe3b01505922aac1&oe=57BCBCB7">
										</div>
										<div class="media-body">
											<h4 class="media-heading">ACM</h4>
											<span class="name">Created by UIUC</span><br>
											<span class="description">Association For Computing Machinery</span>
										</div>
										<div class="media-right">
											<button class="btn btn-default glyphicon glyphicon-ok fa-2x" style="border:0px solid transparent;" type="button"></button>
										</div>
									</div>
									<div class="clearfix"></div>
								</li>
								<li class="list-group-item">
									<div class="media">
										<div class="media-left">
												<img class="media-object" height="64px" width="64px"src="https://scontent.ford1-1.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/1070057_532854490102524_1628830417_n.jpg?oh=f90146c1bebca30008c40b0fc0791678&oe=57A3C14C">
										</div>
										<div class="media-body">
											<h4 class="media-heading">IEEE</h4>
											<span class="name">Created by UIUC</span><br>
											<span class="description">Institute of Electrical and Electronics Engineers</span>
										</div>
										<div class="media-right">
											<button class="btn btn-default glyphicon glyphicon-plus fa-2x" style="border:0px solid transparent;" type="button"></button>
										</div>
									</div>
									<div class="clearfix"></div>
								</li>
								<li class="list-group-item">
									<div class="media">
										<div class="media-left">
												<img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTNkOGMyMWEyYSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1M2Q4YzIxYTJhIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=">
										</div>
										<div class="media-body">
											<h4 class="media-heading">Computer Science</h4>
											<span class="name">Created by UIUC</span><br>
											<span class="description">Computer Science UIUC</span>
										</div>
										<div class="media-right">
											<button class="btn btn-default glyphicon glyphicon-plus fa-2x" style="border:0px solid transparent;" type="button"></button>
										</div>
									</div>
									<div class="clearfix"></div>
								</li>
								<li class="list-group-item">
									<div class="media">
										<div class="media-left">
												<img class="media-object" height="64px" width= "64px" src="https://scontent.ford1-1.fna.fbcdn.net/hphotos-xaf1/v/t1.0-9/11108193_976036832414242_6367215544882765736_n.png?oh=a3643db7e2e302730e04fbc7e8467de4&oe=57A24F91">
										</div>
										<div class="media-body">
											<h4 class="media-heading">WCS</h4>
											<span class="name">Created by UIUC</span><br>
											<span class="description">Women in Computer Science</span>
										</div>
										<div class="media-right">
											<button class="btn btn-default glyphicon glyphicon-plus fa-2x" style="border:0px solid transparent;" type="button"></button>
										</div>
									</div>
									<div class="clearfix"></div>
								</li>
						</ul>
				</div>
      </div>
      <div class="col-md-4">
				</br>
				<div class="panel panel-default">
					<div class="panel-heading c-list">
							<span class="title"><b>Your Communtiy</b></span>
							<ul class="pull-right c-controls">
									<a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Toggle Search"><i class="glyphicon glyphicon-search"></i></a>
							</ul>
					</div>
					<div class="row" style="display: none;">
							<div class="col-xs-12">
								<div class="input-group c-search">
									<span class="input-group-btn">
											<button class="btn btn-default" type="button" disabled><span class="glyphicon glyphicon-search"></span></button>
									</span>
									<input type="text" class="form-control" id="contact-list-search" placeholder="Search for...">
								</div>
							</div>
					</div>

					<ul class="list-group contact-list" id="contact-list">
						<li class="list-group-item">
							<div class="media">
								<div class="media-left">
										<img class="media-object" height = "64px" width = "64px" src="https://scontent.ford1-1.fna.fbcdn.net/v/t1.0-9/11403414_823827771058333_9142859801719835183_n.png?oh=e43d79e0bc6bd9c9fe3b01505922aac1&oe=57BCBCB7">
								</div>
								<div class="media-body">
									<h4 class="media-heading">ACM</h4>
									<span class="name">Created by UIUC</span><br>
									<span class="description">Association For Computing Machinery</span>
								</div>
							</div>
							<div class="clearfix"></div>
						</li>
						<li class="list-group-item">
							<div class="media">
								<div class="media-left">
										<img class="media-object" height="64px" width="64px"src="https://scontent.ford1-1.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/1070057_532854490102524_1628830417_n.jpg?oh=f90146c1bebca30008c40b0fc0791678&oe=57A3C14C">
								</div>
								<div class="media-body">
									<h4 class="media-heading">IEEE</h4>
									<span class="name">Created by UIUC</span><br>
									<span class="description">Institute of Electrical and Electronics Engineers</span>
								</div>
								<div class="media-right">
									<a href="edit_community"><button class="btn btn-default glyphicon glyphicon-edit" style="border:0px solid transparent;" type="button"></button></a>
								</div>
							</div>
							<div class="clearfix"></div>
						</li>
						<li class="list-group-item">
							<div class="media">
								<div class="media-left">
										<img class="media-object" height="64px" width= "64px" src="https://scontent.ford1-1.fna.fbcdn.net/hphotos-xaf1/v/t1.0-9/11108193_976036832414242_6367215544882765736_n.png?oh=a3643db7e2e302730e04fbc7e8467de4&oe=57A24F91">
								</div>
								<div class="media-body">
									<h4 class="media-heading">WCS</h4>
									<span class="name">Created by UIUC</span><br>
									<span class="description">Women in Computer Science</span>
								</div>
							</div>
							<div class="clearfix"></div>
						</li>
					</ul>
				</div>
      </div>
  	</div>
  </div>

	<% include partials/footer %>
	<script src="http://rawgit.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
  <script type="text/javascript">
  	$(function () {
      /* BOOTSNIPP FULLSCREEN FIX */
      if (window.location == window.parent.location) {
          $('#back-to-bootsnipp').removeClass('hide');
      }

      $('[data-toggle="tooltip"]').tooltip();

      $('#fullscreen').on('click', function(event) {
          event.preventDefault();
          window.parent.location = "http://bootsnipp.com/iframe/4l0k2";
      });

      $('[data-command="toggle-search"]').on('click', function(event) {
          event.preventDefault();
          $(this).toggleClass('hide-search');

          if ($(this).hasClass('hide-search')) {
              $('.c-search').closest('.row').slideUp(100);
          }else{
              $('.c-search').closest('.row').slideDown(100);
          }
      })

      $('#contact-list').searchable({
          searchField: '#contact-list-search',
          selector: 'li',
          childSelector: '.media-body',
          show: function( elem ) {
              elem.slideDown(100);
          },
          hide: function( elem ) {
              elem.slideUp( 100 );
          }
      })

			$('#community-list').searchable({
          searchField: '#community-list-search',
          selector: 'li',
          childSelector: '.media-body',
          show: function( elem ) {
              elem.slideDown(100);
          },
          hide: function( elem ) {
              elem.slideUp( 100 );
          }
      })
  });
	</script>

</body>
</html>
