<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#about">Dashboard</a></li>
						<li><a href="#contact">Community</a></li>
						<li><a href="#about">Profile</a></li>
						<li><a href="#contact">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
  				<div class="col-md-8 col-md-offset-1">
  					<div class="col-md-8">
  					<h1>
  						<b>Find your Community!<br>
  							<small>Company, School, Group, Family</small>
  						</b>
  					</h1>
  					</div>
  					<div class="col-md-4">
  						<button class="btn btn-default" type="submit" style="margin-top:25px;">Make Community</button>
  					</div>
				</div>
			</div>	
		</div>	

			

		</div>
	</body>
</html>