<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-1">
				<div class="col-md-8">
					<h1>
						<b>Create Community<br>
							<small>Add friends be fit together</small>
						</b>
					</h1>
				</div>
			</div>
		</div>

		<br>
		<div class="row">
		<form class="form-horizontal">
			<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Community Name</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="Community Name">
					</div>
			</div>
			<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Desscription</label>
					<div class="col-xs-4">
						<textarea class="form-control" rows="3" placeholder="Description"></textarea>
					</div>
			</div>
			<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Invite Friends</label>
					<div class="col-xs-4">
						<div class="input-group input-group-md">
							<span class="input-group-addon" id="sizing-addon1">+</span>
							<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
						</div>
					</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2"></label>
				<div class="col-xs-4">
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">Create</button>
						<button type="submit" class="btn btn-default">Cancel</button>
					</div>
				</div>
			</div>
		</form>
		</div>
	</div>
	<% include partials/footer %>
</body>
</html>
