<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>

<body>
	<% include partials/header %>
	<div class="container">
		<h1><b> Create Competition </b></h1>
		<br><br>
		<div class="container">
		<form class="form-horizontal" action="dashboard">
		<fieldset>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="textinput">Competition Name</label>
		  <div class="col-md-4">
		  <input id="textinput" name="textinput" type="text" placeholder="Competition Name" class="form-control input-md" required>

		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="textinput">Start Date</label>
		  <div class="col-md-4">
				<form action="action_page.php">
					<input name="textinput" type="date" placeholder="Start Date" class="form-control input-md" required>
				</form>
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-md-4 control-label" for="textinput">End Date</label>
		  <div class="col-md-4">
				<form action="action_page.php">
					<input name="textinput" type="date" placeholder="End Date" class="form-control input-md" required>
				</form>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="textinput">Goal</label>
		  <div class="col-md-4">
		  <input id="textinput" name="textinput" type="text" placeholder="Goal" class="form-control input-md" required>

		  </div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="selectbasic">Charity</label>
		  <div class="col-md-4">
		    <select id="selectbasic" name="selectbasic" class="form-control" required>
					<option value="Other">Other</option>
		      <option value="A Child's Wish Association of America">A Child's Wish Association of America</option>
		      <option value="AMVETS National Headquarters">AMVETS National Headquarters</option>
					<option value="Asian American Legal Defense & Education Fund">Asian American Legal Defense & Education Fund</option>
					<option value="Human Rights Campaign">AHuman Rights Campaign</option>
					<option value="Law Enforcement Legal Defense Fund">Law Enforcement Legal Defense Fund</option>
		    </select>
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-md-4 control-label" for="selectbasic">Set Incentive</label>
		  <div class="col-md-4">
				<input id="textinput" name="textinput" type="text" placeholder="Incentive" class="form-control input-md" required>
		  </div>
		</div>

		<!-- Textarea -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="textarea">Description</label>
		  <div class="col-md-4">
		    <textarea class="form-control" id="textarea" name="textarea" placeholder="Description" required></textarea>
		  </div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="textarea">Type of Competition</label>
			<div class="panel col-md-4">
			<div class="panel-heading" style="padding: 0">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
				  <div class="btn-group" role="group">
				    <button type="button" class="btn btn-default" href="#tab1default" data-toggle="tab">Individual</button>
				  </div>
				  <div class="btn-group" role="group">
				    <button type="button" class="btn btn-default" href="#tab2default" data-toggle="tab">Group</button>
				  </div>
				</div>
			</div>
			<div class="panel-body" style="padding-left: 0; padding-right: 0">
				<div class="tab-content">
					<div class="tab-pane fade" id="tab1default">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
								<input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon2">
						</div>
						<div class="checkbox">
						  <label><input type="checkbox" value="">User can invite guests</label>
						</div>
					</div>
					<div class="tab-pane fade" id="tab2default">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span> Group1</span>
								<input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon2">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span> Group2</span>
								<input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon2">
						</div>
						<div class="checkbox">
							<label><input type="checkbox" value="">Users can invite guests</label>
						</div>
					</div>
				</div>
			</div>
			</div>
			<label class="col-md-5 control-label" for="singlebutton"></label>
			<div class="col-md-5 pull-right">
				<button type="submit" class="btn btn-primary">Create</button>
				<a href="dashboard"><button type="button" class="btn btn-danger">Cancel</button><a>
			</div>
		</div>


		</fieldset>
		</form>

		</div>
	</div>
	<% include partials/footer %>
</body>
</html>
