<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	<style type="text/css">

		.btn.btn-default{
			margin-left: 610px;

		}

		h1{
			margin-left: 15px;
		}

		#invite_button{
			margin-left: 293px;
			padding-right: 18px;
		}

		.checkbox{
			margin-left: 295px;
		}
	</style>
</head>

<body>
	<% include partials/header %>

	<div class="container">

		<h1> <b> Create Competition </b> </h1>
		<br>
		<br>


			<form class="form-horizontal" >

	  			<div class="form-group form-group"  >
	    			<label class="col-sm-3 control-label" for="formGroupInput">Competition Name
	    			</label>
	    			<div class="col-sm-5">
	      				<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Competition Name">
	   		 		</div>
	  			</div>

	  			<div class="form-group form-group">
	    			<label class="col-sm-3 control-label" for="formGroupInput">Description
	    			</label>
	    			<div class="col-sm-5">
	      				<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Description">
	   		 		</div>
	  			</div>

	  			<div class="form-group form-group">
	    			<label class="col-sm-3 control-label" for="formGroupInput">Goal
	    			</label>
	    			<div class="col-sm-5">
	      				<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Goal">
	   		 		</div>
	  			</div>

				<div class="form-group form-group">
	    			<label class="col-sm-3 control-label" for="formGroupInput">Set Date
	    			</label>
	    			<div class="col-sm-5">
	      				<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Start Date">
	      				<input class="form-control" type="text" id="formGroupInputLarge" placeholder="End Date">
	   		 		</div>
	  			</div>

	  			<div class="form-group form-group">
	    			<label class="col-sm-3 control-label" for="formGroupInput">Set Incentive
	    			</label>
	    			<div class="col-sm-5">
	      				<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Set Incentive">
	   		 		</div>
	  			</div>

	  			<div class="checkbox">
    				<label>
      				<input type="checkbox"> Individual Competition
    				</label>
  				</div>

  				<div class="checkbox">
    				<label>
      				<input type="checkbox"> Group Competition
    				</label>
  				</div>

	  			<div class="input-group col-sm-5" id="invite_button">

  						<span class="input-group-addon" id="basic-addon1">+</span>
  						<input type="text" class="form-control" placeholder="Add Members" aria-describedby="basic-addon1">
				</div>
				<br>

	  			<div class="checkbox">
    				<label>
      				<input type="checkbox"> Guest can invite friends
    				</label>
  				</div>

  			</form>


  			<br>
  		<button type="submit" class="btn btn-default" margin-left="100px">Cancel</button>
		<button type="submit" class="btn btn-primary" margin-left="100px">Create</button>
	</div>
	<% include partials/footer %>
</body>
</html>
