<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Hello, Caitlyn Lee</h2>
			</div>
			<div class="col-md-7">
				<blockquote>
					<p>Accept the challenges so that you can feel the 	exhilaration 	of 	victory.</p>
					<footer>George S. Patton </footer>
				</blockquote>

				<div class="row">
					<div class="col-sm-3"><strong>Today's Progress</strong></div>
					<div class="col-sm-8">
						<div class="progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						    60%
						  </div>
						</div>
					</div>
				</div>


				<div class="row">
					<span class="col-sm-3"><strong>Achievements</strong></span>
					<span class="col-sm-8">
						<span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
					</span>
				</div>
				<br>

				<div class="row">
					<span class="col-sm-3"><strong>Article of the day</strong></span>
					<span class="col-sm-9">
						<a href="http://www.theguardian.com/lifeandstyle/2016/apr/23/fitness-buddies-exercise-boxing-running-gym-with-friends">Staying healthy: why a fitness buddy is all you need</a>
					</span>
				</div>
			</div>

			<div class="col-md-5">
				<br>
				<h4 class="text-center">Progress of the week</h4>
				<div id="chart"></div>
			</div>
		</div>
		<!-- Grid -->
		<div class="row">

				<div class="col-lg-12">
						<h3 class="page-header">Active Competition</h3>
				</div>

				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" href="group_detail">
								<img class="img-responsive" src="image/group_competition.png" alt="">
						</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" href="individual_detail">
								<img class="img-responsive" src="image/individual_competition.png" alt="">
						</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="" href="create_competition">
								<img class = "center-block" width="200" height="200" src="https://www.medable.com/images/Icon---Plus-Sign.png">
						</a>
				</div>

		</div>
	</div>

	<% include partials/footer %>
	<script type="text/javascript">
	var chart = c3.generate({
		bindto: '#chart',
		title: {
			text: 'Title'
		},
		data: {
			columns: [
				['Progress', 4000, 2000, 1000, 4000, 1500, 2500, 6000]
			]
		},
		axis: {
        	y: {
        		label: {
        			text: 'Steps',
        			position: 'outer-middle'
        		},
        	    max: 10000,
        	    min: 0,
        	    // Range includes padding, set 0 if no padding needed
        	    padding: {top:0, bottom:0}
        	},

        	x: {
        		type: 'category',
        		categories: ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat']
        	}
    	},
    	legend: {
        	show: false
    	}
	});
	</script>
</body>
</html>
