<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<!-- Put navbar in default.html -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#about">Dashboard</a></li>
					<li><a href="#contact">Community</a></li>
					<li><a href="#about">Profile</a></li>
					<li><a href="#contact">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>Hello, First name Last name</h2>
				<blockquote>
					<p>Accept the challenges so that you can feel the 	exhilaration 	of 	victory.</p>
					<footer>George S. Patton </footer>
				</blockquote>

				<div class="row">
					<span class="col-sm-3"><strong>Today's Progress</strong></span>
					<span class="col-sm-4">
						<div class="progress" style="margin-bottom: 0px;">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
								<span class="sr-only">70% Complete</span>
							</div>
						</div>
					</span>
				</div>

				<br>

				<div class="row">
					<span class="col-sm-3"><strong>Achievements</strong></span>
					<span class="col-sm-4">
						[][][][][][][][][][][][][][][][][][][][][][][][][][]
					</span>
				</div>

				<br>

				<div class="row">
					<span class="col-sm-3"><strong>Article of the day</strong></span>
					<span class="col-sm-4">
						<a href="http://www.theguardian.com/lifeandstyle/health-and-wellbeing">Article</a>
					</span>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
</body>
</html>
