<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

	<div class="container" style="margin-bottom:15em;">
		<div class="row">
			<!-- <div class="col-md-7">
				<h2>Hello, Caitlyn Lee</h2>
			</div> -->
			<div class="col-md-7">
				<h2>Hello, Caitlyn Lee</h2>

				<blockquote>
					<p>Accept the challenges so that you can feel the 	exhilaration 	of 	victory.</p>
					<footer>George S. Patton </footer>
				</blockquote>

				<div class="row">
					<div class="col-sm-3"><strong>Today's Progress</strong></div>
					<div class="col-sm-8">
						<div class="progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						    60%
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<span class="col-sm-3"><strong>Overall: 80%</strong></span>
					<span class="col-sm-8">
						<div class="col-sm-6" style="padding-left:0px">
							<span title="Recent Won Records" data-content="ACM vs. IEEE <br /> Apple vs. Samsung <br /> High School Friends" data-html="true" data-toggle="popover" data-placement="bottom" data-trigger="hover">Won: <b>80</b> competitions</span>
						</div>
						<div class="col-sm-6">
							<span title="Recent Lost Records" data-content="CS233 vs. CS 241" data-html="true" data-toggle="popover" data-placement="bottom" data-trigger="hover">Lost: <b>20</b> competitions</span>
						</div>
					</span>
				</div>
				<br>
				<div class="row">
					<span class="col-sm-3"><strong>Achievements</strong></span>
					<span class="col-sm-8">
						<a class="glyphicon glyphicon-gift" title="Active Memeber" data-content="You have been active for 30 days" data-toggle="popover" data-placement="top" data-trigger="hover" style="text-decoration:none; color: pink; font-size: 1.5em;"></a>
						<a class="glyphicon glyphicon-leaf" title="Meeting goal" data-content="Meeting your goal of the day" data-toggle="popover" data-placement="top" data-trigger="hover" style="text-decoration:none; color: green; font-size: 1.5em;"></a>
						<a class="glyphicon glyphicon-fire" title="Streak for a week" data-content="Meeting your goals for a week" data-toggle="popover" data-placement="top" data-trigger="hover" style="text-decoration:none; color: red; font-size: 1.5em;"></a>
						<a class="glyphicon glyphicon-apple" title="Winner" data-content="You won a competition" data-toggle="popover" data-placement="top" data-trigger="hover" style="text-decoration:none; color: orange; font-size: 1.5em;"></a>
						<a class="glyphicon glyphicon-send" title="Inviting friend" data-content="Inviting friends or referring a friend" data-toggle="popover" data-placement="top" data-trigger="hover" style="text-decoration:none; color: skyblue; font-size: 1.5em;"></a>
					</span>
				</div>
				<br>
				<div class="row">
					<span class="col-sm-3"><strong>Article of the day</strong></span>
					<span class="col-sm-9">
						<blockquote style="padding-top:0px; padding-bottom:0px;">
							<h5>Staying healthy: why a fitness buddy is all you need</h5>
							<p style="font-size: 0.7em;">You’re much more likely to lose motivation if you exercise alone, according to research. From boxing to running to going to the gym, three writers on the joys of getting fit with their friends...
							<a href="http://www.theguardian.com/lifeandstyle/2016/apr/23/fitness-buddies-exercise-boxing-running-gym-with-friends"><b>More detail</b></a>
							</p>
						</blockquote>
					</span>
				</div>


			</div>

			<div class="col-md-5">
				<br>
				<h4 class="text-center">Progress of the week</h4>
				<div id="chart"></div>
			</div>
		</div>
		<!-- Grid -->
		<div class="row">

				<div class="col-lg-12">
						<h3 class="page-header">Active Competition</h3>
				</div>

				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" href="group_detail">
								<img class="img-responsive" src="image/group_competition.png" alt="">
						</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="thumbnail" href="individual_detail">
								<img class="img-responsive" src="image/individual_competition.png" alt="">
						</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<a class="" href="create_competition">
								<img class = "center-block" width="200" height="200" src="https://www.medable.com/images/Icon---Plus-Sign.png">
						</a>
				</div>

		</div>
	</div>

	<% include partials/footer %>
	<script>
		$(document).ready(function(){
		    $('[data-toggle="popover"]').popover();
		});
	</script>
	<script type="text/javascript">
	var chart = c3.generate({
		bindto: '#chart',
		title: {
			text: 'Title'
		},
		data: {
			columns: [
				['Progress', 4000, 2000, 1000, 4000, 1500, 2500, 6000]
			]
		},
		axis: {
        	y: {
        		label: {
        			text: 'Steps',
        			position: 'outer-middle'
        		},
        	    max: 10000,
        	    min: 0,
        	    // Range includes padding, set 0 if no padding needed
        	    padding: {top:0, bottom:0}
        	},

        	x: {
        		type: 'category',
        		categories: ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat']
        	}
    	},
    	legend: {
        	show: false
    	}
	});
	</script>
</body>
</html>
