<!DOCTYPE html>
<html>
<!-- Default setting and link copy this for every html -->
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

  <div class="container">
    <div class="row">
			<div class="col-md-12 page-header">
				<h2>WCS VS. ACM</h2>
				<h4>Date: Apr 15, 2016 ~ May 15, 2016</h4>
			</div>
     	<div class="col-md-8">
	      <div class="row-fluid" style="margin-top:5%">
	        <div id="chart"></div>
	      </div>
	      <div class="row-fluid" style="margin-top:5%">
	        <h4>Incentive: Donate $5 to Rainforest Fund charity</h4>
	        <br>
	        <h4>Details</h4>
	        <p>We are having our annual Exercise month hosted on FitFriends. This year, our incentive is donations to the
	          Rainforest Fund based on the people who do not make the goal of walking 100,000 steps this whole month
	          Whoever does not make it will give us $5 to donate together under the WCS name. Our goal is to make WCS exercise
	          more and, hopefully, make it a habit to walk more as a group. Have fun and start walking!
	        </p>
	      </div>
    	</div>
    <div class="col-md-4">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">WCS</a></li>
            <li><a href="#tab2default" data-toggle="tab">ACM</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
              <div class="panel panel-default">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="input-group c-search">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                      </span>
                      <input type="text" class="form-control" id="contact-list-search" placeholder="Search for...">
                    </div>
                  </div>
                </div>
                <ul class="list-group contact-list" id="contact-list">
                  <li class="list-group-item">
                    <div class="col-xs-12 col-md-3 col-sm-5">
                      <img src="image/people/m1.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-md-9 col-sm-7">
                      <span class="name">Scott Stevens</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/m2.jpg" alt="Seth Frazier" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Seth Frazier</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/w1.jpg" alt="Jean Myers" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Jean Myers</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/m3.jpg" alt="Todd Shelton" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Todd Shelton</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/w2.jpg" alt="Rosemary Porter" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Rosemary Porter</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/w4.jpg" alt="Debbie Schmidt" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Debbie Schmidt</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/m5.jpg" alt="Glenda Patterson" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Glenda Patterson</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="tab2default">
              <div class="panel panel-default">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="input-group c-search">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                      </span>
                      <input type="text" class="form-control" id="group2-list-search" placeholder="Search for...">
                    </div>
                  </div>
                </div>
                <ul class="list-group contact-list" id="group2-list">
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/m4.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">James Stevens</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/m1.jpg" alt="Seth Frazier" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Angela Frazier</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/w4.jpg" alt="Jean Myers" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Shannon Myers</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/m3.jpg" alt="Todd Shelton" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Nick Shelton</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/w3.jpg" alt="Rosemary Porter" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Vanessa Porter</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/m5.jpg" alt="Debbie Schmidt" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Tebbie Schmidt</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="image/people/w2.jpg" alt="Glenda Patterson" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <span class="name">Glenda Patterson</span>
                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://rawgit.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
</div>

<% include partials/footer %>

<script type="text/javascript">
	$(function () {
	  /* BOOTSNIPP FULLSCREEN FIX */
	  if (window.location == window.parent.location) {
	    $('#back-to-bootsnipp').removeClass('hide');
	  }


	  $('[data-toggle="tooltip"]').tooltip();

	  $('#fullscreen').on('click', function(event) {
	    event.preventDefault();
	    window.parent.location = "http://bootsnipp.com/iframe/4l0k2";
	  });
	  $('a[href="#cant-do-all-the-work-for-you"]').on('click', function(event) {
	    event.preventDefault();
	    $('#cant-do-all-the-work-for-you').modal('show');
	  })

	  $('[data-command="toggle-search"]').on('click', function(event) {
	    event.preventDefault();
	    $(this).toggleClass('hide-search');

	    if ($(this).hasClass('hide-search')) {
	      $('.c-search').closest('.row').slideUp(100);
	    }else{
	      $('.c-search').closest('.row').slideDown(100);
	    }
		})

	  $('#contact-list').searchable({
	    searchField: '#contact-list-search',
	    selector: 'li',
	    childSelector: '.col-xs-12',
	    show: function( elem ) {
	      elem.slideDown(100);
	    },
	    hide: function( elem ) {
	      elem.slideUp( 100 );
	    }
	  })

		$('#group2-list').searchable({
	    searchField: '#group2-list-search',
	    selector: 'li',
	    childSelector: '.col-xs-12',
	    show: function( elem ) {
	      elem.slideDown(100);
	    },
	    hide: function( elem ) {
	      elem.slideUp( 100 );
	    }
	  })
	});

	var chart = c3.generate({
	  bindto: '#chart',
	  title: {
	    text: 'Title'
	  },
	  data: {
	    columns: [
	    ['Group 1', 10000, 12000, 13050, 14000, 16500],
	    ['Group 2', 10000, 13500, 15020, 17050, 18500]
	    ]
	  },
	  axis: {
	    y: {
        label: {
          text: 'Steps',
          position: 'outer-middle'
        },
        max: 20000,
	    },
      x: {
        type: 'category',
        categories: ['4/15 - 4/21', '4/22 - 4/28', '4/29 - 5/5', '5/6 - 5/12', '5/13 - 5/15']
      }
	  },
    legend: {
      show: true
    }
	});
</script>

</body>
</html>
