<!DOCTYPE html>
<html>
<!-- Default setting and link copy this for every html -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<!-- Put navbar in default.html -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#about">Dashboard</a></li>
					<li><a href="#contact">Community</a></li>
					<li><a href="#about">Profile</a></li>
					<li><a href="#contact">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>Hello, First name Last name</h2>
        <h4>Date: Feb 15, 2016 ~ Mar 15, 2016</h4>
        <div class="row-fluid" style="margin-top:5%">
          <p>Graph<p>
        </div>
        <div class="row-fluid" style="margin-top:5%">
          <h4>Incentive: Donate $20 to XYZ charity</h4>
          <br>
          <h4>Details</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">Group 1</a></li>
                        <li><a href="#tab2default" data-toggle="tab">Group 2</a></li>
                    </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                      <div class="panel panel-default">
                          <div class="row">
                              <div class="col-xs-12">
                                <div class="input-group c-search">
                                  <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                  </span>
                                  <input type="text" class="form-control" id="contact-list-search" placeholder="Search for...">
                                </div>
                              </div>
                          </div>
                          <ul class="list-group contact-list" id="contact-list">
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-md-3 col-sm-5">
                                      <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-md-9 col-sm-7">
                                      <span class="name">Scott Stevens</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Seth Frazier</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Jean Myers</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/men/24.jpg" alt="Todd Shelton" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Todd Shelton</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/women/34.jpg" alt="Rosemary Porter" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Rosemary Porter</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/women/56.jpg" alt="Debbie Schmidt" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Debbie Schmidt</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/women/76.jpg" alt="Glenda Patterson" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Glenda Patterson</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                          </ul>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tab2default">
                      <div class="panel panel-default">
                          <div class="row">
                              <div class="col-xs-12">
                                <div class="input-group c-search">
                                  <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                  </span>
                                  <input type="text" class="form-control" id="contact-list-search" placeholder="Search for...">
                                </div>
                              </div>
                          </div>
                          <ul class="list-group contact-list" id="contact-list">
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/men/8.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Scott Stevens</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/men/27.jpg" alt="Seth Frazier" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Seth Frazier</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/women/14.jpg" alt="Jean Myers" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Jean Myers</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/men/88.jpg" alt="Todd Shelton" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Todd Shelton</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/women/69.jpg" alt="Rosemary Porter" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Rosemary Porter</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/women/2.jpg" alt="Debbie Schmidt" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Debbie Schmidt</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                              <li class="list-group-item">
                                  <div class="col-xs-12 col-sm-3">
                                      <img src="http://api.randomuser.me/portraits/women/28.jpg" alt="Glenda Patterson" class="img-responsive img-circle" />
                                  </div>
                                  <div class="col-xs-12 col-sm-9">
                                      <span class="name">Glenda Patterson</span>
                                      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                      <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span></span>
                                  </div>
                                  <div class="clearfix"></div>
                              </li>
                          </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  	</div>
    <script src="http://rawgit.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
  </div>

	<footer class="footer">
  	<div class="container">
  		<p class="text-muted">Place sticky footer content here.</p>
  	</div>
	</footer>

  <script type="text/javascript">
  	$(function () {
      /* BOOTSNIPP FULLSCREEN FIX */
      if (window.location == window.parent.location) {
          $('#back-to-bootsnipp').removeClass('hide');
      }


      $('[data-toggle="tooltip"]').tooltip();

      $('#fullscreen').on('click', function(event) {
          event.preventDefault();
          window.parent.location = "http://bootsnipp.com/iframe/4l0k2";
      });
      $('a[href="#cant-do-all-the-work-for-you"]').on('click', function(event) {
          event.preventDefault();
          $('#cant-do-all-the-work-for-you').modal('show');
      })

      $('[data-command="toggle-search"]').on('click', function(event) {
          event.preventDefault();
          $(this).toggleClass('hide-search');

          if ($(this).hasClass('hide-search')) {
              $('.c-search').closest('.row').slideUp(100);
          }else{
              $('.c-search').closest('.row').slideDown(100);
          }
      })

      $('#contact-list').searchable({
          searchField: '#contact-list-search',
          selector: 'li',
          childSelector: '.col-xs-12',
          show: function( elem ) {
              elem.slideDown(100);
          },
          hide: function( elem ) {
              elem.slideUp( 100 );
          }
      })
  });
	</script>

</body>
</html>
