<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:transparent; border-color:transparent">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#login" role="button">Login</a></li>
          <li><a href="#signup" role="button">Sign up</a></li>
        </ul>
      </div>
    </nav>

    <!--Title-->
    <div id="jumbotron" class="jumbotron">
      <h1 style="padding:20px">Welcome to Fit Friends</h1>
      <p>A fun way to exercise and build healthy habits.</p>
    </div>
  </header>

  <section style="text-align:center">
    <h1>Why Fit Friends?</h1>
    <p>Fit Friends provides fun ways to get active on your own or with your friends.</p>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-star-o fa-4x" style="border-color:black; border-radius:100%; border:5px solid;
            padding-right:12px; padding-left:12px; padding-top:10px; padding-bottom:10px"></i>
          <p></p><br>
          <p>Set goals and earn rewards for achievements.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-user fa-4x" style="border-color:black; border-radius:100%; border:5px solid; padding:10px;
            padding-left:16px; padding-right:16px"></i>
          <p></p><br>
          <p>Compete against your friends.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-users fa-4x" style="border-color:black; border-radius:100%; border:5px solid;
            padding:8px; padding-top:10px; padding-bottom:10px"></i>
          <p></p><br>
          <p>Compete with a team of friends.</p>
        </div>
      </div>
    </div>
    </section>



</body>
</html>
