<!DOCTYPE html>
<html>
<!-- Default setting and link copy this for every html -->
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

	<div class="container">
		<div class="row">
			<div class="col-md-12 page-header">
				<h2>Gym Fam</h2>
				<h4>Date: Feb 15, 2016 ~ Mar 15, 2016</h4>
			</div>
			<div class="col-md-8">
        <div class="row-fluid" style="margin-top:5%">
          <div id="chart"></div>
        </div>
        <div class="row-fluid" style="margin-top:5%">
          <h4>Incentive: Donate $20 to XYZ charity</h4>
          <br>
          <h4>Details</h4>
          <p>We will be competing on FitFriends to track our exercise and see who is not exercising.
            Every person who does not meet the goal will be donating 10 dollars to the ASCPA. Our goal is
            to go to the gym a minium of 4 hours every week for a month. We can do this friends.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">People</span>
                <ul class="pull-right c-controls">
                    <a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Toggle Search"><i class="glyphicon glyphicon-search"></i></a>
                </ul>
            </div>

            <div class="row" style="display: none;">
                <div class="col-xs-12">
									<div class="input-group c-search">
										<span class="input-group-btn">
												<button class="btn btn-default" type="button" disabled><span class="glyphicon glyphicon-search"></span></button>
										</span>
										<input type="text" class="form-control" id="contact-list-search" placeholder="Search for...">
									</div>
                </div>
            </div>

						<ul class="list-group contact-list" id="contact-list">
                <li class="list-group-item">
                  	<div class="media-left" style="padding-left:1em;">
                        <img src="image/people/m1.jpg" alt="Scott Stevens"class="media-object img-circle" style="width:60px; height:60px;"  />
                    </div>
                    <div class="media-body media-middle">
                        <span class="name" style="padding-left:1em;">Scott Stevens</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
								<li class="list-group-item">
										<div class="media-left" style="padding-left:1em;">
                        <img src="image/people/m2.jpg" alt="Seth Frazier" class="media-object img-circle" style="width:60px; height:60px;" />
                    </div>
                    <div class="media-body media-middle">
                        <span class="name" style="padding-left:1em;">Seth Frazier</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
								<li class="list-group-item">
										<div class="media-left" style="padding-left:1em;">
                        <img src="image/people/w1.jpg" alt="Jean Myers" class="media-object img-circle" style="width:60px; height:60px;"  />
                    </div>
                    <div class="media-body media-middle">
                        <span class="name" style="padding-left:1em;">Jean Myers</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
								<li class="list-group-item">
										<div class="media-left" style="padding-left:1em;">
                        <img src="image/people/m4.jpg" alt="Todd Shelton" class="media-object img-circle" style="width:60px; height:60px;" />
                    </div>
                    <div class="media-body media-middle">
                        <span class="name" style="padding-left:1em;">Todd Shelton</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li class="list-group-item">
										<div class="media-left" style="padding-left:1em;">
                        <img src="image/people/w5.jpg" alt="Rosemary Porter" class="media-object img-circle" style="width:60px; height:60px;" />
                    </div>
                    <div class="media-body media-middle">
                        <span class="name" style="padding-left:1em;">Rosemary Porter</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li class="list-group-item">
										<div class="media-left" style="padding-left:1em;">
                        <img src="image/people/w2.jpg" alt="Debbie Schmidt" class="media-object img-circle" style="width:60px; height:60px;" />
                    </div>
                    <div class="media-body media-middle">
                        <span class="name" style="padding-left:1em;">Debbie Schmidt</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li class="list-group-item">
										<div class="media-left" style="padding-left:1em;">
                        <img src="image/people/w4.jpg" alt="Glenda Patterson"class="media-object img-circle" style="width:60px; height:60px;" />
                    </div>
                    <div class="media-body media-middle">
                        <span class="name" style="padding-left:1em;">Glenda Patterson</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
      </div>
  	</div>
  </div>

	<% include partials/footer %>

	<script src="http://rawgit.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
  <script type="text/javascript">
  	$(function () {
      /* BOOTSNIPP FULLSCREEN FIX */
      if (window.location == window.parent.location) {
          $('#back-to-bootsnipp').removeClass('hide');
      }


      $('[data-toggle="tooltip"]').tooltip();

      $('#fullscreen').on('click', function(event) {
          event.preventDefault();
          window.parent.location = "http://bootsnipp.com/iframe/4l0k2";
      });
      $('a[href="#cant-do-all-the-work-for-you"]').on('click', function(event) {
          event.preventDefault();
          $('#cant-do-all-the-work-for-you').modal('show');
      })

      $('[data-command="toggle-search"]').on('click', function(event) {
          event.preventDefault();
          $(this).toggleClass('hide-search');

          if ($(this).hasClass('hide-search')) {
              $('.c-search').closest('.row').slideUp(100);
          }else{
              $('.c-search').closest('.row').slideDown(100);
          }
      })

      $('#contact-list').searchable({
          searchField: '#contact-list-search',
          selector: 'li',
          childSelector: '.media-body',
          show: function( elem ) {
              elem.slideDown(100);
          },
          hide: function( elem ) {
              elem.slideUp( 100 );
          }
      })
  });

	var chart = c3.generate({
	  bindto: '#chart',
	  title: {
	    text: 'Title'
	  },
	  data: {
	    columns: [
	    ['Progress', 3000, 2000, 1000, 4000, 5000, 2500, 6000]
	    ],
	    type: 'bar'
	  },
	  axis: {
	    x: {
	      type: 'category',
	      categories: ['Scott Stevens', 'Seth Frazier', 'Jean Myers', 'Todd Shelton', 'Rosemary Porter', 'Debbie Schmidt', 'Glenda Patterson']
	    },
	    y: {
        label: {
          text: 'Steps',
          position: 'outer-middle'
        },
	      max: 12000,

	              // Range includes padding, set 0 if no padding needed
	              padding: {top:0, bottom:0}
	            }
	          },
	          legend: {
	            show: false
	          }
	        });
	</script>

</body>
</html>
