<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<% include partials/header %>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-1">
				<div class="col-md-8">
					<h1>
						<b>Create Community<br>
							<small>Add friends be fit together</small>
						</b>
					</h1>
				</div>
			</div>
		</div>	

		<br>
		<!community name>

		<div class="form-horizontal">
			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Community Name</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="Community Name">
					</div>
				</div>
			</form>
			<!description>
			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Desscription</label>
					<div class="col-xs-4">
						<textarea class="form-control" rows="3" placeholder="Description"></textarea>
					</div>
				</div>
			</form>
			<!invite people>
			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Invite Friends</label>
					<div class="col-xs-4">
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">+</span>
							<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
						</div>

					</div>
				</div>
			</form>
		</div>
		<button type="submit" class="btn btn-default col-md-offset-7" margin-left="100px">Cancel</button>
		<button type="submit" class="btn btn-primary" margin-left="100px">Submit</button>
	</div>

</body>
</html>