<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index">Home</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3"><h1><b>Sign up<br><small>Compete against your friends</small></b></h1></div>
		</div>
		<br>
		<form role="form" class="form-horizontal col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
			<div class="form-group">
				<label for="inputName" class="col-sm-4 control-label">First Name</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" placeholder="First Name" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputName" class="col-sm-4 control-label">Last Name</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" placeholder="Last Name" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-sm-4 control-label">Email</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" placeholder="Email" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-sm-4 control-label">Password</label>
				<div class="col-sm-7">
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-sm-4 control-label">Retype Password</label>
				<div class="col-sm-7">
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-sm-4 control-label">Height</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" placeholder="Height" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-sm-4 control-label">Weight</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" placeholder="Weight" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-sm-4 control-label">Age</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" placeholder="Age" required>
				</div>
			</div>
			<br>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-10">
					<a href="/dashboard" class="btn btn-primary" role="button">Sign Up</a>
				</div>
			</div>
		</form>
	</div>
	<% include partials/footer %>
</body>
</html>
