<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#about">Home</a></li>
					<li><a href="#contact">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-1"><h1><b>Sign Up<br><small>Compete against your friends</small></b></h1></div>
			<br> <br>
		</div>
		
		<br>

		<div class="form-horizontal">
			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">First Name</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="First Name">
					</div>
				</div>
			</form>
			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Last Name</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="Last Name">
					</div>
				</div>
			</form>

			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Email</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="Email">
					</div>
				</div>
			</form>

			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Password</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="Password">
					</div>
				</div>
			</form>

			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Retype Password</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="Retype Password">
					</div>
				</div>
			</form>

			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Height</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="Height">
					</div>
				</div>
			</form>

			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Weight</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="Weight">
					</div>
				</div>
			</form>

			<form class="form-group">
				<div>
					<label for="inputEmail3" class="col-sm-2 control-label col-md-offset-2">Age</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="Age">
					</div>
				</div>
			</form>
			
		</div>
		<br>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-10">
				<button type="submit" class="btn btn-default">Sign Up</button>
			</div>
		</div>
	</div>
</body>
</html>
